{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Daftar Kontributor</h1>

<p></p><p></p><p></p>
<div class="container">
  <p>Cari kontributor berdasarkan tipe:</p>
    <!-- dropdown -->
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="kontributor-dropdown" data-bs-toggle="dropdown">
        Tipe Kontributor
      </button>
      <ul class="dropdown-menu" aria-labelledby="kontributor-dropdown">
        <li><a class="dropdown-item" href="#">Sutradara</a></li>
        <li><a class="dropdown-item" href="#">Pemain</a></li>
        <li><a class="dropdown-item" href="#">Penulis Skeanrio</a></li>
      </ul>
    </div>
  <p></p><p></p>
  <table class="table table-center">
    <thead class="border">
      <tr>
        <th scope="col" class="border">Nama</th>
        <th scope="col" class="border">Tipe</th>
        <th scope="col" class="border">Jenis Kelamin</th>
        <th scope="col" class="border">Kewarganegaraan</th>
      </tr>
    </thead>
    <tbody>
      {% for kontributor in list_kontributor %}
        <tr>
          <td class="border">{{ kontributor.nama }}</td>
          <td class="border">{{ kontributor.tipe }}</td>
          <td class="border">{{ kontributor.jenis_kelamin }}</td>
          <td class="border">{{ kontributor.kewarganegaraan }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
