{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <div class="card">
        <div class="card-header text-center">Daftar Unduhan</div>

        <div class="card-body">
          <table class="table table-striped text-center" id="table_unduhan">
            <thead>
              <tr>
                <th>Judul</th>
                <th>Waktu Ditambahkan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for unduhan in daftar_unduhan %}
              <tr>
                <td>{{ unduhan.0 }}</td>
                <td>{{ unduhan.1 }}</td>
                <td>
                  <button
                    class="btn btn-danger delete-btn"
                    data-judul="{{ unduhan.0 }}"
                  >
                    Hapus
                  </button>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Daftar unduhan masih kosong...</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".delete-btn").forEach((button) => {
      button.addEventListener("click", function () {
        const judul = this.getAttribute("data-judul");

        fetch(`{% url 'main:delete_unduhan' %}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({ judul }),
        })
          .then((response) => {
            if (response.ok) {
              return response.text();
            } else {
              throw new Error("Something went wrong on the server.");
            }
          })
          .then((data) => {
            console.log(data);
            location.reload();
          })
          .catch((error) => console.error("Error:", error));
      });
    });
  });
</script>

{% if error %}
<div class="modal" tabindex="-1" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          GAGAL MENGHAPUS TAYANGAN DARI DAFTAR UNDUHAN
        </h5>
      </div>
      <div class="modal-body">
        <p>{{ error }}</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">
                Tutup Modal
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var errorModal = new bootstrap.Modal(document.getElementById("errorModal"));
    errorModal.show();
  });
</script>
{% endif %} {% endblock content %}
