{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Tayangan</title>
{% endblock meta %}

{% block content %}


<body>
    <div class="container">
        <h1>DAFTAR TAYANGAN</h1>
        <!-- TODO search -->
        <form action="{% url 'main:search_tayangan' %}" method="get">
            <input type="text" id="search" name="title" placeholder="Pencarian Tayangan berdasarkan judul">
            <input type="submit" value="Search">
        </form>
        <div id="defaultTables">
            <h2>10 Tayangan Terbaik Minggu ini</h2>
            <input type="radio" id="global" name="top10" checked>
            <label for="global">Top 10 Global</label>
            <table>
                <tr>
                    <th>Peringkat</th>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    <th>Total View 7 Hari Terakhir</th>
                    {% if displayTombol %}<th>Tayangan</th>{% endif %}
                </tr>
                <!-- Repeat this row for each item in the list -->
                {% for show in top_shows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ show.1 }}</td>
                    <td>{{ show.2 }}</td>
                    <td>{{ show.3 }}</td>
                    <td>{{ show.4 }}</td>
                    <td>{{ show.5 }}</td>
                    {% if displayTombol %}<td><a href="{% url 'main:show_tayangan' show.0 %}" class="btn">Lihat Tayangan</a></td>{% endif %}
                </tr>
                {% endfor %}
            </table>
            <h2>Film</h2>
            <table>
                <tr>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    {% if displayTombol %}<th>Tayangan</th>{% endif %}
                </tr>
                <!-- Repeat this row for each item in the list -->
                {% for film in films %}
                <tr>
                    <td>{{ film.1 }}</td>
                    <td>{{ film.2 }}</td>
                    <td>{{ film.3 }}</td>
                    <td>{{ film.4 }}</td>
                    {% if displayTombol %}<td><a href="{% url 'main:show_tayangan' film.0 %}" class="btn">Lihat Tayangan</a></td>{% endif %}
                </tr>
                {% endfor %}
            </table>
            <h2>Series</h2>
            <!-- Repeat this section for each series -->
            <table>
                <tr>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    {% if displayTombol %}<th>Tayangan</th>{% endif %}
                </tr>
                <!-- Repeat this row for each item in the list -->
                {% for serie in series %}
                <tr>
                    <td>{{ serie.1 }}</td>
                    <td>{{ serie.2 }}</td>
                    <td>{{ serie.3 }}</td>
                    <td>{{ serie.4 }}</td>
                    {% if displayTombol %}<td><a href="{% url 'main:show_tayangan' serie.0 %}" class="btn">Lihat Tayangan</a></td>{% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="searchResults" style="display: none;">
            <h2>HASIL PENCARIAN</h2>
            <!-- Repeat this section for each search result -->
            <table>
                <tr>
                    <th>Judul</th>
                    <th>Sinopsis Trailer</th>
                    <th>URL Trailer</th>
                    <th>Tanggal Rilis Trailer</th>
                    <th>Tayangan</th>
                </tr>
                <!-- Repeat this row for each item in the list -->
                <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td><a href="" class="btn">Lihat Tayangan</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

<style>
    label {
        margin-right: 10px;
        /* Adjust the margin-right value as needed */
    }

    /* Add spacing between table rows */
    table tr {
        margin-bottom: 10px;
        /* Adjust the margin-bottom value as needed */
        border-collapse: collapse;
    }

    table {
        margin: auto;
    }

    th,
    td {
        text-align: center;
        /* Center the text in the table headers and cells */
        padding: 10px;
        /* Add some padding around the text */
        border: 1px solid black;
    }

    body {
        text-align: center;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }
</style>

{% endblock content %}