{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Halaman Beli</h1>

<div class="container">
    <p>Informasi Paket yang ingin dibeli:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
        </tr>
        </thead>
        <tbody>
        {% for paket in paket_lain %}
        <tr>
            <td class="border">{{ paket.0 }}</td>
            <td class="border">{{ paket.1 }}</td>
            <td class="border">{{ paket.2 }}</td>
            <td class="border">{{ paket.3 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Pilih metode pembayaran:</p>
    <!-- dropdown -->
    <form method="POST" action="{% url 'main:halaman_beli' paket_lain.0.0  %}">
            {% csrf_token %}
            <input type="hidden" name="BuyStatus" value="True">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="metode-pembayaran-dropdown" data-bs-toggle="dropdown">
                Pilih Metode Pembayaran:
            </button>
            <div class="form-check" style="background-color: gray; width: 20%; color: white;">
                <input class="form-check-input" type="radio" name="payment_method" id="transfer_bank" value="Transfer Bank" required>
                <label class="form-check-label" for="transfer_bank">
                    Transfer Bank
                </label>
            </div>
            <div class="form-check" style="background-color: gray; width: 20%; color: white;">
                <input class="form-check-input" type="radio" name="payment_method" id="kartu_kredit" value="Kartu Kredit" required>
                <label class="form-check-label" for="kartu_kredit">
                    Kartu Kredit
                </label>
            </div>
            <div class="form-check" style="background-color: gray; width: 20%; color: white;">
                <input class="form-check-input" type="radio" name="payment_method" id="e_wallet" value="E-Wallet" required>
                <label class="form-check-label" for="e_wallet">
                    E-Wallet
                </label>
            </div>
            
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Bayar</button>
            </div>
            

                        
    </form>
</div>

{% endblock content %}