{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Halaman Beli</h1>

<div class="container">
    <p>Informasi Paket yang ingin dibeli:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
        </tr>
        </thead>
        <tbody>
        {% for paket in list_paket_lain %}
        <tr>
            <td class="border">{{ paket.nama }}</td>
            <td class="border">{{ paket.harga }}</td>
            <td class="border">{{ paket.resolusi.layar }}</td>
            <td class="border">{{ paket.dukungan_perangkat }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Pilih metode pembayaran:</p>
    <!-- dropdown -->
    <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="metode-pembayaran-dropdown" data-bs-toggle="dropdown">
        Pilih Metode Pembayaran:
    </button>
    <ul class="dropdown-menu" aria-labelledby="metode-pembayaran-dropdown">
        {% for metode_pembayaran in list_metode_pembayaran %}
            <li><a class="dropdown-item" href="#">{{ metode_pembayaran }}</a></li>
        {% endfor %}
    </ul>
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" href="{% url 'main:langganan' %}">Bayar</button>
    </div>
    </div>
</div>

{% endblock content %}