{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Halaman Episode</title>
{% endblock meta %}

{% block content %}

<body>

    <h1>HALAMAN EPISODE</h1>
    <h2>Judul: data</h2>
    <h3>Sub Judul: data</h3>
    
    <button>Tonton</button>

    <h4>Episode Lainnya:</h2>
    <ul>
        <li><a href="{% url 'main:show_episode' %}">Episode 1</a></li>
        <li><a href="{% url 'main:show_episode' %}">Episode 2</a></li>
        <li><a href="{% url 'main:show_episode' %}">Episode 3</a></li>
    </ul> 

    <p>Sinopsis Episode: data</p>
    <p>Durasi Episode: data</p>
    <p>URL Episode: data</p>
    <p>Tanggal Rilis Episode: data</p>

</body>

{% endblock content %}