{% extends 'base.html' %}

{% block content %}
<!-- <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="color: aliceblue;">PacilFlix - C14</span>
      <div>
      <a class="navbar-brand" style="color: aliceblue;" href="{% url 'main:show_home' %}">Home</a>
      <a class="navbar-brand" style="color: aliceblue;" href="{% url 'main:show_trailer' %}">Trailer</a>
      <a class="navbar-brand" style="color: aliceblue;" href="{% url 'main:show_login' %}">Login</a>
      </div>
    </div>
  </nav> -->

<div style="margin: auto; width: 20vw; padding-top: 30vh;"> 

    <h1>PacilFlix - C14</h1>
        <table>

            <tr>    
                <td>
                <button><a style="text-decoration: none;" href="{% url 'main:show_login' %}">Login</a>
                </button>
                </td>
            </tr>   

            <tr>
                <td>
                    <button><a style="text-decoration: none;" href="{% url 'main:show_register' %}">Register</a>
                    </button>
                </td>
            </tr>

        </table>

{% endblock content %}