{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <div class="card">
        <div class="card-header text-center">{{ judul }}</div>

        <div class="card-body">
          <table class="table table-striped text-center" id="table_unduhan">
            <thead>
              <tr>
                <th>Judul Tayangan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for favorite in favorites %}
              <tr>
                <td>{{ favorite.0 }}</td>
                <td>
                  <button
                    class="btn btn-danger delete-btn"
                    data-judul="{{ favorite.0 }}"
                    data-nama-playlist="{{ judul }}"
                  >
                    Hapus
                  </button>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Daftar unduhan masih kosong...</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".delete-btn").forEach((button) => {
      button.addEventListener("click", function () {
        const judul = this.getAttribute("data-judul");
        const nama = this.getAttribute("data-nama-playlist");
        console.log(nama)

        fetch(`{% url 'main:delete_dari_favorit' %}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({ judul, nama }),
        })
          .then((response) => {
            if (response.ok) {
              return response.text();
            } else {
              throw new Error("Something went wrong on the server.");
            }
          })
          .then((data) => {
            console.log(data);
            location.reload();
          })
          .catch((error) => console.error("Error:", error));
      });
    });
  });
</script>

{% endblock content %}
