{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Halaman Kelola Langganan</h1>
<div class="container">
    <p>Informasi Paket yang ingin dibeli:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="border">1</th>
            <td class="border">Mark</td>
            <td class="border">Otto</td>
            <td class="border">@mdo</td>
        </tr>
        <tr>
            <th scope="row" class="border">2</th>
            <td class="border">Jacob</td>
            <td class="border">Thornton</td>
            <td class="border">@fat</td>
        </tr>
        <tr>
            <th scope="row" class="border">3</th>
            <td class="border">Larry the Bird</td>
            <td class="border">@twitter</td>
            <td class="border"></td>
        </tr>
        <tr>
            <th scope="row" class="border">4</th>
            <td class="border">Larry the Bird</td>
            <td class="border">@twitter</td>
            <td class="border"></td>
        </tr>
        </tbody>
    </table>
    <p>Informasi Paket yang ingin dibeli:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="border">1</th>
            <td class="border">Mark</td>
            <td class="border">Otto</td>
            <td class="border">@mdo</td>
        </tr>
        <tr>
            <th scope="row" class="border">2</th>
            <td class="border">Jacob</td>
            <td class="border">Thornton</td>
            <td class="border">@fat</td>
        </tr>
        <tr>
            <th scope="row" class="border">3</th>
            <td class="border">Larry the Bird</td>
            <td class="border">@twitter</td>
            <td class="border"></td>
        </tr>
        <tr>
            <th scope="row" class="border">4</th>
            <td class="border">Larry the Bird</td>
            <td class="border">@twitter</td>
            <td class="border"></td>
        </tr>
        </tbody>
    </table>
    <p>Informasi Paket yang ingin dibeli:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="border">1</th>
            <td class="border">Mark</td>
            <td class="border">Otto</td>
            <td class="border">@mdo</td>
        </tr>
        <tr>
            <th scope="row" class="border">2</th>
            <td class="border">Jacob</td>
            <td class="border">Thornton</td>
            <td class="border">@fat</td>
        </tr>
        <tr>
            <th scope="row" class="border">3</th>
            <td class="border">Larry the Bird</td>
            <td class="border">@twitter</td>
            <td class="border"></td>
        </tr>
        <tr>
            <th scope="row" class="border">4</th>
            <td class="border">Larry the Bird</td>
            <td class="border">@twitter</td>
            <td class="border"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}