{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Halaman Kelola Langganan</h1>
<div class="container">
    <p>Paket Langganan Aktif Anda:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
            <th scope="col" class="border">Tanggal Dimulai</th>
            <th scope="col" class="border">Tanggal Akhir</th>
        </tr>
        </thead>
        <tbody>
            {% for paket_langganan in list_paket_langganan_aktif %}
            <tr>
                <td class="border">{{ paket_langganan.nama }}</td>
                <td class="border">{{ paket_langganan.harga }}</td>
                <td class="border">{{ paket_langganan.resolusi_layar }}</td>
                <td class="border">{{ paket_langganan.dukungan_perangkat }}</td>
                <td class="border">{{ paket_langganan.tanggal_dimulai }}</td>
                <td class="border">{{ paket_langganan.tanggal_akhir }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Pilih Paket Lain:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama</th>
            <th scope="col" class="border">Harga</th>
            <th scope="col" class="border">Resolusi Layar</th>
            <th scope="col" class="border">Dukungan Perangkat</th>
            <th scope="col" class="border">Beli</th>
        </tr>
        </thead>
        <tbody>
        {% for paket_lain in list_paket_lain %}
            <tr>
                <td class="border">{{ paket_lain.0 }}</td> 
                <td class="border">{{ paket_lain.1 }}</td>
                <td class="border">{{ paket_lain.2 }}</td>
                <td class="border">{{ paket_lain.3 }}</td>
                <td class="border">
                    <a class="btn btn-primary" href="{% url 'main:halaman_beli' paket_lain.nama%}" role="button">Beli</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Riwayat Transaksi:</p>
    <p></p><p></p>
    <table class="table table-center">
        <thead class="border">
        <tr>
            <th scope="col" class="border">Nama Paket</th>
            <th scope="col" class="border">Tanggal Dimulai</th>
            <th scope="col" class="border">Tanggal Akhir</th>
            <th scope="col" class="border">Metode Pembayaran</th>
            <th scope="col" class="border">Tanggal Pembayaran</th>
            <th scope="col" class="border">Total Pembayaran</th>
        </tr>
        </thead>
        <tbody>
        {% for transaksi in list_riwayat_transaksi %}
        <tr>
            <td class="border">{{ transaksi.nama_paket }}</td>
            <td class="border">{{ transaksi.tanggal_dimulai }}</td>
            <td class="border">{{ transaksi.tanggal_akhir }}</td>
            <td class="border">{{ transaksi.metode_pembayaran }}</td>
            <td class="border">{{ transaksi.tanggal_pembayaran }}</td>
            <td class="border">{{ transaksi.total_pembayaran }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}